
---
apiVersion: admissionregistration.k8s.io/v1beta1
kind: ValidatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: validating-webhook-configuration
webhooks:
- clientConfig:
    caBundle: Cg==
    service:
      name: webhook-service
      namespace: system
      path: /validate-hypercloud-tmaxanc-com-v1alpha1-virtualmachineimage
  failurePolicy: Fail
  name: vvirtualmachineimage.kb.io
  rules:
  - apiGroups:
    - hypercloud.tmaxanc.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - virtualmachineimages
